body{font-family: 'Justo', sans-serif;
background-color: #101c2c;
}
ul{
display: flex;
justify-content: space-around;
margin-top:15%;
}
.qdr1, .qdr2{

 width: 500px;
 border-radius: 10px;
}
.qdr1{
   
    background-color: rgba(21, 17, 85, 0.822);
    padding: 20px;
}
input{

    width: 100%;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 10px;
}
#x,#y{
   
    padding: 10px;
    text-transform:uppercase;
    
    background-color: rgb(146, 233, 146);
    border-radius: 10px;
    
}
.qdr2{

    background-color: rgb(42, 44, 19);
    padding: 20px;
}  
