
body{
    font-family: 'Justo', sans-serif;
    background-color: #101c2c; 
    width: 600px;
    height: 100%;
    display: inline;
    text-align: center;

    

}
#text{
    text-align: center;
}

h1{color: rgb(236, 213, 213);}

#resultado, #resultado1{color: rgb(236,213,213);}


.qdr1,.qdr2{ 

border-radius: 500px;

}
.qdr1{
    
    background-color: rgba(42, 37, 116, 0.555);
    padding:20px;
}
input{
    width:200px;
    padding:5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 10px;

}
#x,#y{
    
    padding: 5px;
    text-transform:uppercase;
    cursor: pointer;
    background-color: rgba(106, 162, 207, 0.795);
    border-radius: 15px;
}
.qdr2{
    
    background-color: rgb(42, 44, 19);
    padding: 20px;
}  

#inicio{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

}
#inc{
    font-family: 'Justo', sans-serif;
    cursor: pointer;
    outline: none;
    font-size: 40px;
    padding: 20px 28px;
    border-radius: 18px;
    background: none;
    transition: box-shadow 0.1s;
    color: #202020;
    border: 4px solid #202020;
    margin-right: 50px;
}
#inc:hover{
    border: 4px solid #24ce70;
    color: #24ce70;
    box-shadow:  0px 0px 35px #24ce70, 0px 0px 15px #00d9ff;
    text-shadow: 0px 0px 10px #24ce70cc, 0px 0px 3px;
}
#textobtn{
    
    font-size: 47px;
    left: 0;
    margin: auto;
}

