
body{
    font-family: 'Justo', sans-serif;
    background-color: #101c2c;
      
}
h1{color: rgb(236, 213, 213);}

#resultado, #resultado1{color: rgb(236,213,213);}
ul{display: flex; justify-content: space-around;}
.qdr1,.qdr2{
border-radius: 10px;
width: 400px;
}
.qdr1{
    background-color: rgba(22, 17, 85, 0.555);
    padding:20px;
}
input{
    
    width: 100%;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 10px;
}
#x,#y{
   
    padding: 10px;
    text-transform:uppercase;
    cursor: pointer;
    background-color: rgb(146, 233, 146);
    border-radius: 10px;
    
}
.qdr2{
   
  
    background-color: rgb(42, 44, 19);
    padding: 20px;
}  
